.predictCardNoLogin__containerChrono {
        z-index: 1;
        background-color: #112242;
        border-radius: 0.3rem;
        display: flex;
        justify-content: space-between;
        padding: 0.2rem 0.5rem;
        width: 30%;
        font-family: "Montserrat", serif;
        font-optical-sizing: auto;

}

   @media (max-width: 375px) {
        .predictCardNoLogin__containerChrono{
            width: 50%;        
        }
    }