.updatePassword{
    display: flex;
    justify-content: start;
    gap: 2rem;
    width: 600px;
    padding:3rem 0 3rem 3rem;

    margin-bottom: 1rem;

    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        padding-left: 1px; 
        z-index: -1; /* Placer la bordure derrière le contenu */

        border-radius: inherit; /* Hériter du border-radius du parent */
        background: linear-gradient(0deg, #0D1F3C, #FEFFED, #0D1F3C);
            
        // Mask pour le contour en dégradé
        mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
        mask-composite: exclude;

        -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;

    }


    &__form {
        position: relative;
        & input {
            display: block;
            width: 400px;
            height: 40px;
            margin: 0.5rem 0 1rem;

            background-color: #112443;
            border: none;
            border-radius: 0.5rem;

            color: #FEFFED;
            padding-left: 1rem;

            &:nth-last-child(2) {
                margin-bottom: 2rem ;
            }
        }

        & label {
            font-size: 0.9rem;
        }

        &>button {
            padding: 0.5rem 2rem;
            color: #FEFFED;
            background-color: #3B9CF1;
            font-weight: 700;

            border: none;
            border-radius: 0.3rem;
            cursor: pointer;
            transition: 300ms;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .updatePassword{
        position: relative;
        padding-bottom: 6rem;

        &::before {
            padding-top: 1px;
            padding-left: 0px; 
            z-index: -1; /* Placer la bordure derrière le contenu */

            background: linear-gradient(90deg, #0D1F3C, #FEFFED, #0D1F3C);

        }
    }
}

@media screen and (max-width: 375px) {
    .updatePassword{
        flex-direction:column-reverse;
        width: 100%;
        padding: 2rem 0 6rem 0;

        &__form {

            & input {
                width: 300px;
            }
        }
    }
    
}

.btn__showPassword {
    position: absolute;
    top: 2.7rem;
    right: 0.5rem;
    background-color: transparent;
    color: #FEFFED;
    border: none;
    mix-blend-mode: difference;

}
.btn__showNewPassword {
    position: absolute;
    top: 9.2rem;
    right: 0.5rem;
    mix-blend-mode: difference;
    color: #FEFFED;
    border: none;
    background-color: transparent;
}
.btn__showValidationPassword {
    position: absolute;
    top: 15.7rem;
    right: 0.5rem;
    mix-blend-mode: difference;
    color: #FEFFED;
    border: none;
    background-color: transparent;
}