.submenu {
    width: 90%;
    margin: 0 auto;
    position: relative;
    height: auto; ///
    padding: 1rem 2rem;
    z-index: 12;
        
    background-color: rgba(3, 13, 30, 0.2);
    border-radius: 1rem;

    backdrop-filter: blur(14.5px);/* mettre du flou en fond*/
    -webkit-backdrop-filter: blur(14.5px);
    /* compatibilité navigateur pour mettre du flou en fond*/

    margin-bottom: 1rem;


    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        padding: 1.5px; 
        z-index: -1; /* Placer la bordure derrière le contenu */

        border-radius: inherit; /* Hériter du border-radius du parent */
        background: linear-gradient(90deg, #0D1F3C, #FEFFED, #0D1F3C);
        
        mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
        mask-composite: exclude;

        -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
    }

    &__list {

        padding : 0;
        font-size: 1.1rem;
        list-style: none;

        &__login {

            &__link {
                background-color: none;
            }
        }

        & li {
            padding: 0.3rem 0; 
            
            & a {
                color: #FEFFED;
              text-decoration: none;
            }
        }


        &__stats, &__predicts {
            
            &__spacing {
                margin-top: 0.5rem;
                background: linear-gradient(90deg, #0D1F3C, #FEFFED, #0D1F3C);
                height: 1px;
            }
        }

        
    }
}