.container {
    padding: 0 10rem;
}

.creationUserToast{
    z-index: 3;
    background-color:#112242 ;
    color: white;
}

.creationToast{
    z-index: 3;
    background-color:#112242 ;
    color: white;
}

.deletionToast{
    z-index: 3;
    background-color:#112242 ;
    color: white;
}

.modificationToast{
    z-index: 3;
    background-color:#112242 ;
    color: white;
}

