.predictCard__containerChrono {
        z-index: 1;
        background-color: #112242;
        border-radius: 0.3rem;
        display: flex;
        justify-content: space-between;
        padding: 0.2rem 0.5rem;
        width: 28%;
        font-family: "Montserrat", serif;
        font-optical-sizing: auto;

}

   @media screen and (max-width: 768px){
        .predictCard__containerChrono  {
                width: 45%;
        }
    }
   @media screen and (max-width: 375px){
        .predictCard__containerChrono  {
                width: 45%;
        }
    }