.settings {
    padding: 0 10rem;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    color: #FEFFED;

    margin-top: 4rem;

    &__list {
        width: 315px;
        height: 150px;
        list-style: none;
        padding: 0;

        &__item {
            padding: 1rem 2rem;
            cursor: pointer;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;


            &:nth-child(1), &:nth-child(2) {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;

                    padding-bottom: 1px; 
                    z-index: -1; /* Placer la bordure derrière le contenu */

                    border-radius: inherit; /* Hériter du border-radius du parent */
                    background: linear-gradient(90deg, #0D1F3C, #FEFFED, #0D1F3C);
            
                    // Mask pour le contour en dégradé
                    mask: 
                    linear-gradient(#fff 0 0) content-box, 
                    linear-gradient(#fff 0 0);
                    mask-composite: exclude;

                    -webkit-mask: 
                    linear-gradient(#fff 0 0) content-box, 
                    linear-gradient(#fff 0 0);
                    -webkit-mask-composite: destination-out;

                }


            }
            & p {
                font-weight: 600;
            }
        }
    }

    &__modificationProfil {
        background-color: bisque;
        width: 615px;
        height: 400px;
    }
}

@media screen and (max-width: 768px) {
        .settings{
            flex-direction: column;
            padding: 0 4rem;
            &__list {
                width: 100%;
                display: flex;
                justify-content: space-between;
                text-align: center;
                height: 70px;
                margin-top: 2rem;

                &__item {
                    padding: 0 3.5rem;
                    flex-direction: column;
                    justify-content: start;
                    gap: 0.5rem;

                &:nth-child(1), &:nth-child(2) {
                position: relative;

                    &::before {
                        padding-right: 1px; 
                        padding-bottom: 0;
                        background: linear-gradient(0deg, #0D1F3C, #FEFFED, #0D1F3C);
                    }
                }

                & p {
                    transform: rotate(90deg);
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .settings{
        padding: 1rem 2rem 0; 
            &__list {
                height: 50px;
                margin-top: 2rem;

                &__item {
                    font-size: 0.8rem;
                    padding: 0 0.5rem;

            }
        }

    }
    
}