.predictCardNoLogin__containerPredict__Team {
        text-align: center;
        width: 6rem;
        &__logo {
            width: 60px;
            height: 60px;
            margin: 0 auto 0.5rem;
        }
        &__name{
            font-weight: 700;
        }
    }

       @media (max-width: 375px) {
        .predictCardNoLogin__containerPredict__Team{
            &__logo {
                width: 45px;
                height: 45px;
            }
            &__name {
                font-size: 0.7rem;
                padding: 0 1rem;
            }
        }
    }