@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #030D1E;
    // background: url('./assets/hero_homePage/bg_hero.png');
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
}